$--pds-tkn-breakpoint-xs: 480px;
$--pds-tkn-breakpoint-sm: 576px;
$--pds-tkn-breakpoint-md: 768px;
$--pds-tkn-breakpoint-lg: 992px;
$--pds-tkn-breakpoint-xl: 1200px;
$--pds-tkn-breakpoint-2xl: 1600px;
