$--pds-tkn-color-white: #ffffff;
$--pds-tkn-color-black: #000000;
$--pds-tkn-color-neutral-0: #ffffff;
$--pds-tkn-color-neutral-50: #fdfdfd;
$--pds-tkn-color-neutral-100: #fcfcfc;
$--pds-tkn-color-neutral-200: #f1f1f1;
$--pds-tkn-color-neutral-300: #dfdfdf;
$--pds-tkn-color-neutral-400: #c5c5c5;
$--pds-tkn-color-neutral-500: #a3a3a3;
$--pds-tkn-color-neutral-600: #7c7c7c;
$--pds-tkn-color-neutral-700: #505050;
$--pds-tkn-color-neutral-800: #252525;
$--pds-tkn-color-neutral-900: #000000;
$--pds-tkn-color-red-0: #fff3f2;
$--pds-tkn-color-red-50: #fedcd9;
$--pds-tkn-color-red-100: #fcc6c1;
$--pds-tkn-color-red-200: #f4998f;
$--pds-tkn-color-red-300: #e77263;
$--pds-tkn-color-red-400: #d35441;
$--pds-tkn-color-red-500: #ba3f28;
$--pds-tkn-color-red-600: #9c3117;
$--pds-tkn-color-red-700: #7c270c;
$--pds-tkn-color-red-800: #5c1f06;
$--pds-tkn-color-red-900: #401703;
$--pds-tkn-color-orange-0: #fff9f2;
$--pds-tkn-color-orange-50: #feecd9;
$--pds-tkn-color-orange-100: #fcdfc1;
$--pds-tkn-color-orange-200: #f4c38f;
$--pds-tkn-color-orange-300: #e7a963;
$--pds-tkn-color-orange-400: #d39141;
$--pds-tkn-color-orange-500: #ba7d28;
$--pds-tkn-color-orange-600: #9c6917;
$--pds-tkn-color-orange-700: #7c560c;
$--pds-tkn-color-orange-800: #5c4206;
$--pds-tkn-color-orange-900: #403103;
$--pds-tkn-color-yellow-0: #fffcf2;
$--pds-tkn-color-yellow-50: #fef5d9;
$--pds-tkn-color-yellow-100: #fceec1;
$--pds-tkn-color-yellow-200: #f4dc8f;
$--pds-tkn-color-yellow-300: #e7ca63;
$--pds-tkn-color-yellow-400: #d3b641;
$--pds-tkn-color-yellow-500: #baa128;
$--pds-tkn-color-yellow-600: #9c8b17;
$--pds-tkn-color-yellow-700: #7c720c;
$--pds-tkn-color-yellow-800: #5c5806;
$--pds-tkn-color-yellow-900: #404003;
$--pds-tkn-color-lime-0: #fbfff2;
$--pds-tkn-color-lime-50: #f1fed9;
$--pds-tkn-color-lime-100: #e8fcc1;
$--pds-tkn-color-lime-200: #d1f48f;
$--pds-tkn-color-lime-300: #b7e763;
$--pds-tkn-color-lime-400: #9bd341;
$--pds-tkn-color-lime-500: #7eba28;
$--pds-tkn-color-lime-600: #609c17;
$--pds-tkn-color-lime-700: #457c0c;
$--pds-tkn-color-lime-800: #2d5c06;
$--pds-tkn-color-lime-900: #1c4003;
$--pds-tkn-color-mint-0: #f2fff9;
$--pds-tkn-color-mint-50: #d9feec;
$--pds-tkn-color-mint-100: #c1fcdf;
$--pds-tkn-color-mint-200: #8ff4c3;
$--pds-tkn-color-mint-300: #63e7a9;
$--pds-tkn-color-mint-400: #41d391;
$--pds-tkn-color-mint-500: #28ba7d;
$--pds-tkn-color-mint-600: #179c69;
$--pds-tkn-color-mint-700: #0c7c56;
$--pds-tkn-color-mint-800: #065c42;
$--pds-tkn-color-mint-900: #034031;
$--pds-tkn-color-teal-0: #f2fffe;
$--pds-tkn-color-teal-50: #d9fefb;
$--pds-tkn-color-teal-100: #c1fcf8;
$--pds-tkn-color-teal-200: #8ff4ed;
$--pds-tkn-color-teal-300: #63e7e0;
$--pds-tkn-color-teal-400: #41d3ce;
$--pds-tkn-color-teal-500: #28baba;
$--pds-tkn-color-teal-600: #17989c;
$--pds-tkn-color-teal-700: #0c737c;
$--pds-tkn-color-teal-800: #06515c;
$--pds-tkn-color-teal-900: #033640;
$--pds-tkn-color-blue-0: #f2fcff;
$--pds-tkn-color-blue-50: #d9f4fe;
$--pds-tkn-color-blue-100: #c1edfc;
$--pds-tkn-color-blue-200: #8fd9f4;
$--pds-tkn-color-blue-300: #63c2e7;
$--pds-tkn-color-blue-400: #41a7d3;
$--pds-tkn-color-blue-500: #288aba;
$--pds-tkn-color-blue-600: #176b9c;
$--pds-tkn-color-blue-700: #0c4e7c;
$--pds-tkn-color-blue-800: #06355c;
$--pds-tkn-color-blue-900: #032140;
$--pds-tkn-color-deep-blue-0: #f2f7ff;
$--pds-tkn-color-deep-blue-50: #d9e5fe;
$--pds-tkn-color-deep-blue-100: #c1d4fc;
$--pds-tkn-color-deep-blue-200: #8faff4;
$--pds-tkn-color-deep-blue-300: #638be7;
$--pds-tkn-color-deep-blue-400: #416ad3;
$--pds-tkn-color-deep-blue-500: #284dba;
$--pds-tkn-color-deep-blue-600: #17349c;
$--pds-tkn-color-deep-blue-700: #0c1f7c;
$--pds-tkn-color-deep-blue-800: #06115c;
$--pds-tkn-color-deep-blue-900: #030840;
$--pds-tkn-color-purple-0: #f5f2ff;
$--pds-tkn-color-purple-50: #e2d9fe;
$--pds-tkn-color-purple-100: #d0c1fc;
$--pds-tkn-color-purple-200: #aa8ff4;
$--pds-tkn-color-purple-300: #8863e7;
$--pds-tkn-color-purple-400: #6d41d3;
$--pds-tkn-color-purple-500: #5828ba;
$--pds-tkn-color-purple-600: #48179c;
$--pds-tkn-color-purple-700: #3a0c7c;
$--pds-tkn-color-purple-800: #2d065c;
$--pds-tkn-color-purple-900: #210340;
$--pds-tkn-color-pink-0: #fff2f9;
$--pds-tkn-color-pink-50: #fed9eb;
$--pds-tkn-color-pink-100: #fcc1de;
$--pds-tkn-color-pink-200: #f48fc0;
$--pds-tkn-color-pink-300: #e763a1;
$--pds-tkn-color-pink-400: #d34182;
$--pds-tkn-color-pink-500: #ba2865;
$--pds-tkn-color-pink-600: #9c174a;
$--pds-tkn-color-pink-700: #7c0c32;
$--pds-tkn-color-pink-800: #5c061f;
$--pds-tkn-color-pink-900: #400312;
