$--pds-tkn-shape-border-radius-100: 2px;
$--pds-tkn-shape-border-radius-200: 4px;
$--pds-tkn-shape-border-radius-300: 8px;
$--pds-tkn-shape-border-radius-circle: 50%;
$--pds-tkn-shape-border-radius-none: 0;
$--pds-tkn-shape-border-radius-default: 4px;
$--pds-tkn-shape-border-width-100: 1px;
$--pds-tkn-shape-border-width-200: 2px;
$--pds-tkn-shape-border-width-300: 3px;
$--pds-tkn-shape-border-width-400: 4px;
$--pds-tkn-shape-border-width-none: 0;
$--pds-tkn-shape-border-width-default: 1px;
$--pds-tkn-shape-border-style-solid: solid;
$--pds-tkn-shape-border-style-dashed: dashed;
$--pds-tkn-shape-border-style-dotted: dotted;
$--pds-tkn-shape-border-style-default: solid;
