$--pds-tkn-size-0: 0px;
$--pds-tkn-size-none: 0px;
$--pds-tkn-size-qtr-x: 1px;
$--pds-tkn-size-half-x: 2px;
$--pds-tkn-size-1x: 4px;
$--pds-tkn-size-2x: 8px;
$--pds-tkn-size-3x: 12px;
$--pds-tkn-size-4x: 16px;
$--pds-tkn-size-5x: 20px;
$--pds-tkn-size-6x: 24px;
$--pds-tkn-size-7x: 28px;
$--pds-tkn-size-8x: 32px;
$--pds-tkn-size-9x: 36px;
$--pds-tkn-size-10x: 40px;
$--pds-tkn-size-11x: 44px;
$--pds-tkn-size-12x: 48px;
$--pds-tkn-size-13x: 52px;
$--pds-tkn-size-14x: 56px;
$--pds-tkn-size-15x: 60px;
$--pds-tkn-size-16x: 64px;
$--pds-tkn-size-20x: 80px;
$--pds-tkn-size-25x: 100px;
$--pds-tkn-size-30x: 120px;
$--pds-tkn-size-40x: 160px;
$--pds-tkn-size-unit: 4px;
$--pds-tkn-size-base: 4px;
