$--pds-tkn-space-none: 0;
$--pds-tkn-space-none: 0;
$--pds-tkn-space-qtr-x: 1px;
$--pds-tkn-space-half-x: 2px;
$--pds-tkn-space-1x: 4px;
$--pds-tkn-space-2x: 8px;
$--pds-tkn-space-3x: 12px;
$--pds-tkn-space-4x: 16px;
$--pds-tkn-space-5x: 20px;
$--pds-tkn-space-6x: 24px;
$--pds-tkn-space-8x: 32px;
$--pds-tkn-space-10x: 40px;
$--pds-tkn-space-12x: 48px;
$--pds-tkn-space-16x: 64px;
$--pds-tkn-space-20x: 80px;
$--pds-tkn-space-24x: 96px;
$--pds-tkn-space-32x: 128px;
$--pds-tkn-space-40x: 160px;
$--pds-tkn-space-56x: 224px;
$--pds-tkn-space-64x: 256px;
$--pds-tkn-space-unit: 4px;
$--pds-tkn-space-base: 4px;
