$--pds-tkn-font-family-ibm-plex-sans: "IBM Plex Sans";
$--pds-tkn-font-family-ibm-plex-mono: "IBM Plex Mono";
$--pds-tkn-font-type-sans: "IBM Plex Sans";
$--pds-tkn-font-type-mono: "IBM Plex Mono";
$--pds-tkn-font-role-canvas: "IBM Plex Sans";
$--pds-tkn-font-role-heading: "IBM Plex Sans";
$--pds-tkn-font-role-heading-mono: "IBM Plex Mono";
$--pds-tkn-font-role-body: "IBM Plex Sans";
$--pds-tkn-font-role-body-mono: "IBM Plex Mono";
$--pds-tkn-font-role-ui: "IBM Plex Sans";
$--pds-tkn-font-role-ui-mono: "IBM Plex Mono";
$--pds-tkn-font-role-code: "IBM Plex Mono";
$--pds-tkn-font-weight-400: 400;
$--pds-tkn-font-weight-500: 500;
$--pds-tkn-font-weight-600: 600;
$--pds-tkn-font-weight-700: 700;
$--pds-tkn-font-weight-regular: 400;
$--pds-tkn-font-weight-medium: 500;
$--pds-tkn-font-weight-semibold: 600;
$--pds-tkn-font-weight-bold: 700;
$--pds-tkn-font-size-100: 10px;
$--pds-tkn-font-size-200: 12px;
$--pds-tkn-font-size-300: 14px;
$--pds-tkn-font-size-400: 16px;
$--pds-tkn-font-size-500: 18px;
$--pds-tkn-font-size-600: 20px;
$--pds-tkn-font-size-700: 23px;
$--pds-tkn-font-size-800: 26px;
$--pds-tkn-font-size-900: 29px;
$--pds-tkn-font-size-1000: 32px;
$--pds-tkn-font-size-1100: 36px;
$--pds-tkn-font-size-1200: 41px;
$--pds-tkn-font-size-1300: 46px;
$--pds-tkn-font-size-1400: 52px;
$--pds-tkn-font-size-1500: 58px;
$--pds-tkn-font-size-1600: 66px;
$--pds-tkn-font-size-1700: 74px;
$--pds-tkn-font-size-1800: 83px;
$--pds-tkn-font-size-1900: 94px;
$--pds-tkn-font-style-normal: normal;
$--pds-tkn-font-style-italic: italic;
$--pds-tkn-font-line-height-14: 14px;
$--pds-tkn-font-line-height-18: 18px;
$--pds-tkn-font-line-height-20: 20px;
$--pds-tkn-font-line-height-22: 22px;
$--pds-tkn-font-line-height-24: 24px;
$--pds-tkn-font-line-height-26: 26px;
$--pds-tkn-font-line-height-28: 28px;
$--pds-tkn-font-line-height-32: 32px;
$--pds-tkn-font-line-height-36: 36px;
$--pds-tkn-font-line-height-40: 40px;
$--pds-tkn-font-line-height-auto: Auto;
$--pds-tkn-font-letter-space-auto: 0%;
$--pds-tkn-font-letter-space-none: 0px;
$--pds-tkn-font-paragraph-indent-none: 0;
$--pds-tkn-font-paragraph-space-none: 0;
$--pds-tkn-font-case-none: none;
$--pds-tkn-font-case-uppercase: uppercase;
$--pds-tkn-font-case-lowercase: lowercase;
$--pds-tkn-font-case-capitalize: capitalize;
$--pds-tkn-font-decoration-none: none;
$--pds-tkn-font-decoration-underline: underline;
$--pds-tkn-font-decoration-linethrough: line-through;
