.container {
    width: 100%;
    color: var(--DOC-Palette-Gray-iron-50, #929292);
    font-family: "IBM Plex Mono";
    font-size: 66px;
    font-style: normal;
    font-weight: 600;
    line-height: 82px;
    margin-top: 15%;
    margin-left: 30%;
}